@import "tailwindcss";

/* --------------------------------- */
/* ------ General ------ */
/* --------------------------------- */

@theme {
  /* Colors */

  --color-primary-green: #4caf50;
  --color-primary-green-heavy: #388e3c;

  --color-primary-yellow: #f9a825;
  --color-primary-yellow-light: #ffe082;

  --color-light: #fdfcf8;
  --color-night: #0d1410;

  --color-title: ;
  --color-description: ;
  --color-error: ;
  --color-warn: ;
  --color-success: ;

  /* Breakpoints */
  --breakpoint-300: 300px;
  --breakpoint-380: 380px;
  --breakpoint-420: 420px;
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --breakpoint-770: 770px;
  --breakpoint-815: 815px;
  --breakpoint-857: 857px;
  --breakpoint-900: 900px;
  --breakpoint-1100: 1100px;
}

[data-theme="light"] {
  --color-title: #333;
  --color-description: #555;
  --color-error: #dc2626;
  --color-warn: oklch(66.905% 0.13679 86.983);
  --color-success: oklch(52.935% 0.15121 148.528 / 0.774);
}

[data-theme="night"] {
  --color-title: #e8ede8;
  --color-description: #9aaa9a;
  --color-error: #f87171;
  --color-warn: oklch(73.734% 0.15077 86.76);
  --color-success: oklch(60.995% 0.17582 148.175);
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

/* --------------------------------- */
/* ------ Animation ------ */
/* --------------------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
#nprogress .bar {
  background: #388e3c !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #388e3c,
    0 0 5px #388e3c !important;
}

@keyframes menu-in {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-menu-in {
  animation: menu-in 0.2s ease-out;
}

/* --------------------------------- */
/* ------ Helpers ------ */
/* --------------------------------- */

/* For fix aos problem (disable animation on phones make elemets hide (opacity: 0) ) */
@media (max-width: 769px) {
  [data-aos] {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }
}
