@import "tailwindcss";

/* --------------------------------- */
/* ------ General ------ */
/* --------------------------------- */

@theme {
  /* Colors */

  --color-primary-green: #4caf50;
  --color-primary-green-heavy: #388e3c;

  --color-primary-yellow: #f9a825;
  --color-primary-yellow-light: #ffe082;

  --color-light: #fdfcf8;
  --color-night: #0d1410;

  --color-title: ;
  --color-description: ;

  /* Breakpoints */
  --breakpoint-300: 300px;
  --breakpoint-380: 380px;
  --breakpoint-500: 500px;
  --breakpoint-600: 600px;
  --breakpoint-770: 770px;
  --breakpoint-815: 815px;
  --breakpoint-857: 857px;
  --breakpoint-900: 900px;
  --breakpoint-1100: 1100px;
}

[data-theme="light"] {
  --color-title: #333;
  --color-description: #555;
}

[data-theme="night"] {
  --color-title: #e8ede8;
  --color-description: #9aaa9a;
}

html {
  scroll-behavior: smooth;
}

/* --------------------------------- */
/* ------ Animation ------ */
/* --------------------------------- */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
#nprogress .bar {
  background: #388e3c !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #388e3c,
    0 0 5px #388e3c !important;
}
