@import "tailwindcss";

/* Replace later with rem */
@theme {
  /* Colors */

  --color-primary-green: #4caf50;
  --color-primary-green-heavy: #388e3c;

  --color-primary-yellow: #f9a825;
  --color-primary-yellow-light: #ffe082;

  /* Breakpoints */
  --breakpoint-380: 380px;
  --breakpoint-500: 500px;
  --breakpoint-815: 815px;
  --breakpoint-857: 857px;
  --breakpoint-1100: 1100px;
}

html {
  font-family: Cairo, sans-serif;
  scroll-behavior: smooth;
}
